@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
